VITE_API_URL=http://localhost:5000/api
VITE_SUPPORT_EMAIL=princeblessed48@gmail.com
VITE_SUPPORT_PHONE=+2348148282468
VITE_SUPPORT_PHONE_LABEL=(+234) 814 828 2468
VITE_SUPPORT_LOCATION=
VITE_SUPPORT_MAP_URL=
VITE_SUPPORT_HOURS=
